<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Year of the Blog</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
<div class="container">
    <h1>Year of the Blog</h1>
    
    <h2>Values / Rules:</h2>
    <ol>
        <li><p>Consistency in practice (Write weekly)</p></li>
        <li><p>Be generous with ourselves (5 sick days)</p></li>
        <li><p>A post has meaning even if no one is there to read it (write for yourself)</p></li>
    </ol>
    <div class="spinner-bg">
    <ul id="list" class="spin">
        <% feeds.forEach(feed => {
            let words = feed.items[0]['content'].split(' ')
            let final = '...'
            if (words.length >= 4) {
                final = `${words[0]} ${words[1]} ${words[2]} ${words[3]} ${words[4]} ${words[5]}...`
            }
            let d = new Date(feed.items[0]['pubDate'])
        %>
        <div class="ring orbit-<%= blogRegistry[feed.feedUrl] %>">
        <li class="listing">
            <p class="author"><%= blogRegistry[feed.feedUrl] %>💭:</p>
            <a id="target" href="<%= feed.link %>"><%- final %></a>
        </li>
        </div>
        <% });%>
    </div>
</div>
</body>
</html>