:root {
    --ring-diameter: 100;
    --page-gutter: 30px;
}

body {
    margin: 0px;
    background: rgba(0,3,74,1);
    color: white;
}

a {
    color: goldenrod;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2em;
    margin: -2em;
    box-sizing: content-box;
}

p {
    /* resets */
    padding: 0;
    margin: 0;
}

ol {
    padding: 20px;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: var(--page-gutter);
    box-sizing: border-box;
    margin-bottom: 200px;
}

/* Lots of borrowing from: https://codepen.io/alandunning/pen/bNNRvQ */
.spin {
    width: calc(var(--ring-diameter)*1vw);
    height: calc(var(--ring-diameter)*1vw);
    padding: 0;
    position: fixed;
    bottom: calc((var(--ring-diameter)*.8)*-1vw);
    /* left: calc((var(--ring-diameter)/2)*-1vw); */
    background: radial-gradient(84.11% 84.11% at 89.41% 25.69%, #FAC0FF 0%, #553CBB 100%);
    border-radius: 100%;
    margin-top: 60px;
}

.spinner-bg {
    background: linear-gradient(rgba(255,255,255,0) 0%, rgba(0,3,74,1) 10%);
    width: calc(var(--ring-diameter)* 1vw);
    height: calc(var(--ring-diameter)* 1vw);
    padding: 0;
    position: fixed;
    bottom: calc((var(--ring-diameter)*.7)*-1vw);
    left: 0;
}

/* these are the spinning elements */
.spin .ring {
    position: absolute;
    top: 135px;
    left: 0;
    width: calc(var(--ring-diameter)*1vw);
    height: calc(var(--ring-diameter)*1vw);
    border-radius: 100%;
    transform: rotate(-30deg);
    -webkit-animation: spin-right 100s linear infinite;
    animation: spin-right 100s linear infinite;
}

.spin .listing {
    position: absolute;
    top: -70px;
    left: 125px;
    height: 30px;
    width: 150px;
    list-style: none;
}

.list {
    padding: 5px;
    list-style: none;
}

.list::before {
    background: radial-gradient(84.11% 84.11% at 89.41% 25.69%, #FAC0FF 0%, #553CBB 100%);
    width: var(--page-gutter);
    height: 80%;
    content: '';
    position: absolute;
    padding: 0px;
    left: -10px;
}

.list .listing {
    margin-left: 0px;
}

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
    100% {
      -webkit-transform: rotate(460deg);
      -moz-transform: rotate(460deg);
      -ms-transform: rotate(460deg);
      -o-transform: rotate(460deg);
      transform: rotate(460deg);
    }
  }

  @media only screen and (max-width: 800px) {
    .spin {
        bottom: calc((var(--ring-diameter)*.5)*-1vw);
        left: 0;
    }

    .spin .ring {
        transform: rotate(-78deg);
        top: 0;
    }

    .spinner-bg {
        background: linear-gradient(rgba(255,255,255,0) 0%, rgba(0,3,74,1) 30%);
        bottom: 0px;
    }
  }