:root {
    --ring-diameter: 400;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.spin {
    width: calc(var(--ring-diameter)*1px);
    height: calc(var(--ring-diameter)*1px);
    padding: 0;
    position: relative;
    top: 40px;
    left: calc((var(--ring-diameter)/2)*-1px);
    background: radial-gradient(84.11% 84.11% at 89.41% 25.69%, #FAC0FF 0%, #553CBB 100%);
    border-radius: 100%;
}

/* these are the spinning elements */
.spin .ring {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--ring-diameter)*1px);
    height: calc(var(--ring-diameter)*1px);
    border-radius: 100%;
    -webkit-animation: spin-right 100s linear infinite;
    animation: spin-right 100s linear infinite;
}

.spin .listing {
    position: absolute;
    top: -17px;
    left: 125px;
    height: 30px;
    width: 75px;
}

.list {

}

.list::before {
    background: radial-gradient(84.11% 84.11% at 89.41% 25.69%, #FAC0FF 0%, #553CBB 100%);
    width: 30px;
    height: 100px;
    content: '';
    position: absolute;
    padding: 0px;
    left: -10px;
    border-radius: 30%;
}

.list .listing {
    margin-left: 0px;
}

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }