:root {
    --ring-diameter: 400;
    --page-gutter: 30px;
}

body {
    margin: 0px;
}

p {
    /* resets */
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: var(--page-gutter);
}

/* Lots of borrowing from: https://codepen.io/alandunning/pen/bNNRvQ */
.spin {
    width: calc(var(--ring-diameter)*1px);
    height: calc(var(--ring-diameter)*1px);
    padding: 0;
    position: relative;
    top: 40px;
    left: calc((var(--ring-diameter)/2)*-1px);
    background: radial-gradient(84.11% 84.11% at 89.41% 25.69%, #FAC0FF 0%, #553CBB 100%);
    border-radius: 100%;
    margin-top: 60px;
}

/* these are the spinning elements */
.spin .ring {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--ring-diameter)*1px);
    height: calc(var(--ring-diameter)*1px);
    border-radius: 100%;
    transform: rotate(-30deg);
    -webkit-animation: spin-right 100s linear infinite;
    animation: spin-right 100s linear infinite;
}

.spin .listing {
    position: absolute;
    top: -70px;
    left: 125px;
    height: 30px;
    width: 150px;
    list-style: none;
}

.list {
    padding: 5px;
    list-style: none;
}

.list::before {
    background: radial-gradient(84.11% 84.11% at 89.41% 25.69%, #FAC0FF 0%, #553CBB 100%);
    width: var(--page-gutter);
    height: 80%;
    content: '';
    position: absolute;
    padding: 0px;
    left: -10px;
}

.list .listing {
    margin-left: 0px;
}

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }